[Unit]
Description=ogn-alert
Documentation=https://github.com/sfalmo/ogn-alert
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /home/pi/ogn-alert/main.py
Restart=always

[Install]
WantedBy=multi-user.target
